<md-toolbar routerLink="/"
            style="cursor: pointer;">
  blockLAB Verify
</md-toolbar>

<button md-raised-button
        id="navbar-to-submit-report"
        routerLink="/reports/new">Submit Report
</button>

<button md-raised-button
        id="navbar-to-reports"
        routerLink="/reports">Reports
</button>

<button md-raised-button
        id="navbar-verify-report"
        routerLink="/reports/verify">Verify Report
</button>

<button md-raised-button
        id="navbar-to-members"
        routerLink="/members">List Members
</button>

<div id="error">{{ error }}</div>

<router-outlet></router-outlet>
